<div class="footer-div">
    <a href="#" class="mas-info" ><p>Más información <i class="fa-solid fa-angle-down"></i></p></a>
</div>
<div class="footer-seccion-2">
    <ul class="footer-lista-general">
        <li class="footer-lista">Trabajá con nosotros</li>
        <li class="footer-lista">Términos y condiciones</li>
        <li class="footer-lista">Privacidad</li>
        <li class="footer-lista">Ayuda</li>
    </ul>
    <div class="footer-logo-div">
        <img class="footer-logo" src="/images/logo-numpy.svg">
    </div>
</div>