<nav class="nav-bar">
    <div class="logo-numpy">
        <a href="/index">
            <img src="images/logo-numpy.svg" alt="logo numpy">
        </a>
    </div>
    <div class="search-container">
        <form action="#" method="get" name="search">
            <input class="search-input" type="text" placeholder="Busc치 tus productos y marcas preferidas..."
                name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="nav-top-right-top">
        <ul class="nav-top-right">
            <li class="list-nav-1"><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
            <li class="list-nav-2"><a href="/register">Cre치 tu cuenta</a></li>
            <li class="list-nav-3"><a href="/login">Ingres치</a></li>
            <li class="list-nav-4"><a href="/product/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="shortcuts-bar show-nav">
    <a class="ship" href="#"><i class="fa-solid fa-location-dot"></i>Enviar a Capital Federal</a>
    <ul class="nav-bottom">
        <li class="list-nav"><a href="#">Categorias<i class="fa-solid fa-angle-down"></i></a></li>
        <li class="list-nav"><a href="#">Arm치 tu PC</a></li>
        <li class="list-nav"><a href="#">Gamers</a></li>
        <li class="list-nav"><a href="#">Oficina</a></li>
        <li class="list-nav"><a href="#">Hogar</a></li>
        <li class="list-nav"><a href="#">Ofertas</a></li>
    </ul>
</div>