<!DOCTYPE html>
<html lang="es">
<head>
    <link href="/styles/index-styles.css" rel="stylesheet">
    <%- include('./partials/head.ejs'); %>    
    <title>Numpy - Home</title>
</head>
<body>
    <header>
        <% if(isAuthenticated) { %> 
            <%- include('./partials/headerLogged.ejs'); %>
        <% } else {%> 
        
            <%- include('./partials/header.ejs'); %>
        <% } %> 
    </header>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="hero-banner-imagen" src="/images/home_hero _banner.png" alt="Chica feliz de comprar en Numpy">
        </div>
            <p class="jumbotron-texto">TEXTO</p>
          <h1 class="jumbotron-titulo">Lorem ipsum <br> dolor sit amet</h1>
      </div>

    <main>
        <!--Seccion 1: banner de tarjetas-->
        <div class="tarjeta-1">
            <div class="ver-promociones-general">
                <article class="ver-promociones-tarjeta">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-tarjeta ver-promociones-tarjeta-2">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-tarjeta ver-promociones-tarjeta-2">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-simbolo-mas">
                    <img class="ver-promociones-simbolo-mas-foto" src="/images/home_simbolo_mas.png">
                </article>
            </div>
        </div>
         <!--Seccion 2: carrousel de opciones-->
        <div class="opciones-general">
            <article class="opciones-article">
                <div>
                    <p class="opciones-texto" >Inicia sesión para tener la mejor experiencia</p>
                </div>
                <div>
                    <button>Iniciar Sesión</button>
                </div>
                    <img class="opciones-foto-chica" src="/images/home_chica_celebrando.png">
            </article>
            <article class="opciones-article">
                <div>
                    <p class="opciones-texto" >Armá tu computadora</p>
                </div>
                <div class="opciones-caja-2">
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <div class="opciones-cta-div">
                        <p class="opciones-cta">Empezá Ahora ></p>
                    </div>
                </div>
            </article>
            <article class="opciones-article">
                <div>
                    <p class="opciones-texto" >Armá tu computadora</p>
                </div>
                <div class="opciones-caja-2">
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <article class="opciones-caja-2-articles">
                        <img class="opciones-foto-tv" src="/images/home_tv.jpeg" alt="TV">
                        <p class="opciones-texto-subtitulo" >Monitores</p>
                    </article>
                    <div class="opciones-cta-div">
                        <p class="opciones-cta">Empezá Ahora ></p>
                    </div>
                </div>
            </article>
        </div>
        <!--Seccion 3: carrousel de opciones de ubicacion MOBILE-->
        <div class="carousel">
            <button class="carousel_button">
                <img" src="/images/producto_flecha_gris.png"> 
            </button>
            <div class="carousel_track-container">
                <ul class="carousel_track">
                    <li class="carousel_slide">
                        <div class="carousel_slide_parrafo">
                            <p class="carousel_slide_titulo">Gamers</p>
                        </div>
                        <div>
                            <img class="carousel_image" src="/images/home_banner.jpg" alt="">
                        </div>
                    </li>
                    <li class="carousel_slide">
                        <div class="carousel_slide_parrafo">
                            <p class="carousel_slide_titulo">Gamers</p>
                        </div>
                        <div>
                            <img class="carousel_image" src="/images/home_banner.jpg" alt="">
                        </div>
                    </li>
                    <li class="carousel_slide">
                        <div class="carousel_slide_parrafo">
                            <p class="carousel_slide_titulo">Gamers</p>
                        </div>
                        <div>
                            <img class="carousel_image" src="/images/home_banner.jpg" alt="">
                        </div>
                    </li>
                    <li class="carousel_slide">
                        <div class="carousel_slide_parrafo">
                            <p class="carousel_slide_titulo">Gamers</p>
                        </div>
                        <div>
                            <img class="carousel_image" src="/images/home_banner.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <button class="carousel_button">
                <img class="carousel_button-flecha" src="/images/producto_flecha_gris.png"> 
            </button>
        </div>
        <!--Seccion 3: carrousel de opciones de ubicacion DESKTOP-->
        <div class="opciones">
            <div class="opciones-carousel-general">
                <article class="opciones-carousel-article">
                    <div class="opciones-carousel-parrafo">
                        <p class="opciones-carousel-texto" >Gamers</p>
                    </div>
                        <img class="opciones-carousel-foto" src="/images/home_banner.jpg">
                </article>
            </div>
            <div class="opciones-carousel-general">
                <article class="opciones-carousel-article">
                    <div class="opciones-carousel-parrafo">
                        <p class="opciones-carousel-texto" >Gamers</p>
                    </div>
                        <img class="opciones-carousel-foto" src="/images/home_banner.jpg">
                </article>
            </div>
            <div class="opciones-carousel-general">
                <article class="opciones-carousel-article">
                    <div class="opciones-carousel-parrafo">
                        <p class="opciones-carousel-texto" >Gamers</p>
                    </div>
                        <img class="opciones-carousel-foto" src="/images/home_banner.jpg">
                </article>
            </div>
            <div class="opciones-carousel-general">
                <article class="opciones-carousel-article">
                    <div class="opciones-carousel-parrafo">
                        <p class="opciones-carousel-texto" >Gamers</p>
                    </div>
                        <img class="opciones-carousel-foto" src="/images/home_banner.jpg">
                </article>
            </div>
        </div>
        <!--Seccion 4: banner delivery-->
        <section class="banner-chico-section">
            <img class="banner-chico-section-foto" src="/images/home_banner_delivery.png" alt="Chico hace delivery de Numpy">
        </section>
        <!--Seccion 5: Descibri-->
        <section>
            <h2 class="descubri-h2">Descubrí</h2>
            <div class="descubri-general descubri-general-izquierda">
                <article class="descubir-article descubir-article-izquierda">
                    <p class="descubit-subtitulo">OFERTAS EN SILLAS</p>
                    <p class="descubri-titulo">HASTA 30% OFF Y HASTA <br> 6X SIN INTERÉS</p>
                    <img class="descubi-foto-silla" src="/images/home_silla.png" alt="Silla gammer">
                    <button class="descubri-boton">Ver Más ></button>
                </article>
                <article class="descubir-article descubir-article-derecha">
                    <p class="descubit-subtitulo">OFERTAS EN SILLAS</p>
                    <p class="descubri-titulo">HASTA 30% OFF Y HASTA <br> 6X SIN INTERÉS</p>
                    <img class="descubi-foto-silla" src="/images/home_silla.png" alt="Silla gammer">
                    <button class="descubri-boton">Ver Más ></button>
                </article>
            </div>
            <div class="descubri-general">
                <article class="descubir-article descubir-article-izquierda">
                    <p class="descubit-subtitulo">OFERTAS EN SILLAS</p>
                    <p class="descubri-titulo">HASTA 30% OFF Y HASTA <br> 6X SIN INTERÉS</p>
                    <img class="descubi-foto-silla" src="/images/home_silla.png" alt="Silla gammer">
                    <button class="descubri-boton">Ver Más ></button>
                </article>
                <article class="descubir-article descubir-article-derecha">
                    <p class="descubit-subtitulo">OFERTAS EN SILLAS</p>
                    <p class="descubri-titulo">HASTA 30% OFF Y HASTA <br> 6X SIN INTERÉS</p>
                    <img class="descubi-foto-silla" src="/images/home_silla.png" alt="Silla gammer">
                    <button class="descubri-boton">Ver Más ></button>
                </article>
            </div>
        </section>
        <!--Seccion 6: Banner recomendaciones personalizadas-->
        <div class="recomendaciones-banner-general">
            <p class="recomendaciones-banner-texto-1">Ver recomendaciones personalizdas</p>
            <button>Identificate</button>
            <div class="recomendaciones-banner-div-2">
                <p class="recomendaciones-banner-texto-2">¿Eres un cliente nuevo?</p>
            <a href="/register">
                <p class="recomendaciones-banner-texto-3"> Empieza aquí.</p>
            </a>
            </div>
        </div>
        <!--Seccion 7: Banner seguridad-->
        <div class="seguridad-banner-general">
            <article class="seguridad-banner-article seguridad-banner-article-izquierda">
                <img class="seguridad-banner-foto" src="/images/home_tarjeta_2.png" alt="Icono de tarjeta">
                <p class="seguridad-banner-texto-1">Elegí como pagar</p>
                <p class="seguridad-banner-texto-2">Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                <a href="">
                    <p class="seguridad-banner-texto-3">Conocer más ></p>
                </a>
            </article>
            <article class="seguridad-banner-article seguridad-banner-article-central">
                <img class="seguridad-banner-foto" src="/images/home_tarjeta_2.png" alt="Icono de tarjeta">
                <p class="seguridad-banner-texto-1">Elegí como pagar</p>
                <p class="seguridad-banner-texto-2">Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                <a href="">
                    <p class="seguridad-banner-texto-3">Conocer más ></p>
                </a>
            </article>
            <article class="seguridad-banner-article seguridad-banner-article-derecha">
                <img class="seguridad-banner-foto" src="/images/home_tarjeta_2.png" alt="Icono de tarjeta">
                <p class="seguridad-banner-texto-1">Elegí como pagar</p>
                <p class="seguridad-banner-texto-2">Lorem ipsum dolor sit amet, consectetur adipisci elit.</p>
                <a href="">
                    <p class="seguridad-banner-texto-3">Conocer más ></p>
                </a>
            </article>
        </div>
        
    </main>  
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>