<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index-styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Numpy - Home</title>
</head>
<body>
    <section class="hero-banner">
        <img class="hero-banner-imagen" src="/images/home_hero _banner.png" alt="Chica feliz de comprar en Numpy">
    </section>
    <main>
        <div class="tarjeta-1">
            <div class="ver-promociones-general">
                <article class="ver-promociones-tarjeta">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-tarjeta" class="ver-promociones-tarjeta-2">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-tarjeta" class="ver-promociones-tarjeta-2">
                    <img src="/images/home_tarjetas.png" alt="">
                    <p class="ver-promociones-texto">Ver promociones ></p>
                </article>
                <article class="ver-promociones-simbolo-mas">
                    <img src="/images/home_simbolo_mas.png">
                </article>
            </div>
        </div>
    </main>  
</body>
</html>