<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="/styles/nav-styles.css" rel="stylesheet">
    <link href="/styles/productDetail-styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="main-header">
        <nav class="nav-bar">
            <div class="logo-numpy">
                <img src="images/logo-numpy.svg" alt="logo numpy">
            </div>
            <div class="search-container">
                <form action="#" method="get" name="search">
                    <input class="search-input" type="text" placeholder="Buscá tus productos y marcas preferidas..."
                        name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="nav-top-right-top">
                <ul class="nav-top-right">
                    <li class="list-nav-1"><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
                    <li class="list-nav-2"><a href="/register">Creá tu cuenta</a></li>
                    <li class="list-nav-3"><a href="/login">Ingresá</a></li>
                    <li class="list-nav-4"><a href="/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="shortcuts-bar show-nav">
            <a class="ship" href="#"><i class="fa-solid fa-location-dot"></i>Enviar a Capital Federal</a>
            <ul class="nav-bottom">
                <li class="list-nav"><a href="#">Categorias<i class="fa-solid fa-angle-down"></i></a></li>
                <li class="list-nav"><a href="#">Armá tu PC</a></li>
                <li class="list-nav"><a href="#">Gamers</a></li>
                <li class="list-nav"><a href="#">Oficina</a></li>
                <li class="list-nav"><a href="#">Hogar</a></li>
                <li class="list-nav"><a href="#">Ofertas</a></li>
            </ul>
        </div>
    </header>
    <section class="List">
        <ul class="Main-List">
            <li class="Listado"><a href="#" style="text-decoration: none; color: grey;">Volver al listado</a></li>
            <li class="Line1">
                <hr>
            </li>
            <li class="Listado2"><a href="#" style="text-decoration: none; color: #3182de;">Computación<i
                        class="fa-solid fa-angle-right"></i></a></li>
            <li class="Listado2"><a href="#" style="text-decoration: none; color: #3182de;">Computación<i
                        class="fa-solid fa-angle-right"></i></a></li>
            <li class="Listado3"><a href="#" style="text-decoration: none; color: #3182de;">Computación</a></li>
        </ul>
    </section>
    <main>
        <article>
            <div class="Cont-Mini-Imagen">
                <img class="Mini-Imagen" src="images\producto_cpu.webp">
                <img class="Mini-Imagen" src="images\producto_cpu.webp">
                <img class="Mini-Imagen" src="images\producto_cpu.webp">
                <img class="Mini-Imagen" src="images\producto_cpu.webp">
            </div>
            <div class="Cont-Imagen-Desc">
                <div class="Cont-Imagen">
                    <img class="Imagen" src="images\producto_cpu.webp">
                </div>
                <div class="Cont-Descripcion">
                    <div class="Descripcion">
                        <div class="Descripcion-Titulo">
                            <h2>Lorem ipsum dolor<i class="fa-regular fa-heart"></i></h2>
                        </div>
                        <div>
                            <p class="Mini-Descripcion">MARCA: Logitech</p>
                        </div>
                        <div class="Rank">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <p class="Opinione"><a href="#" style="text-decoration: none; color: gray">12 opiniones</a>
                            </p>
                        </div>
                        <div class="Precio-Original">
                            $54.000
                        </div>
                        <div class="Precios-Descuentos">
                            <div class="Precio">
                                <h2>$30.000</h2>
                            </div>
                            <div class="Descuentos">
                                30% OFF
                            </div>
                        </div>
                        <div class="Cuotas">
                            en 12x $2.000
                        </div>
                        <div class="Medio-Pagos">
                            <a href="#" style="text-decoration: none; color: #3182de">Ver medios de pago</a>
                        </div>
                        <div class="Camion-Envio">
                            <p><i class="fa-solid fa-truck"></i>Llega gratis mañana</p>
                        </div>
                        <div class="Forma-Entregas">
                            <a href="#" style="text-decoration: none; color: #3182de">Ver formas de entrega</a>
                        </div>
                        <div class="Especificaciones">
                            <p>Almacenamiento:</p>
                            <h4 style="color: #666;">SSD 240 Gb</h4>
                        </div>
                        <div class="Cont-Mini-Imagen2">
                            <img class="Mini-Imagen2" src="images\producto_cpu.webp">
                            <img class="Mini-Imagen2" src="images\producto_cpu.webp">
                        </div>
                        <div class="Stock">
                            <h4>Stock Disponible</h4>
                        </div>
                        <div class="Cantidad">
                            <p>Cantidad:</p>
                            <h4 style="color: #666;"> 1 unidad</h4>
                            <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                            <p style="font-size: 14px;">(4 disponibles)</p>
                        </div>
                        <div class="Boton-Comprar">
                            <button type="submit" class="Boton-Comprar">Comprar Ahora</button>
                        </div>
                        <div class="Boton-Carrito">
                            <button type="submit" class="Boton-Carrito">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Title">
                <h2>Publicaciones del vendedor</h2>
            </div>
            <div class="Cont-Imagen2">
                <div class="Mini-Article">
                    <p class="Desc">60% OFF</p>
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
                <div class="Mini-Article2">
                    <p class="Desc">60% OFF</p>
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
                <div class="Arrow">
                    <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="Unknown">
                </div>
            </div>
            <div class="Detail-Content">
                <div class="Sub-Detail-Content">
                    <p class="Feature">Características</p>
                    <p class="Description">Descripción</p>
                    <p class="FAQ">Preguntas Frecuentes</p>
                    <p class="Nothing"></p>
                </div>
                <div class="Tabla-Features">
                    <div class="Features1">
                        <h3>Marca</h3>
                        <p class="Marca">Intel</p>
                    </div>
                    <div class="Features2">
                        <h3>Modelo</h3>
                        <p class="Modelo">Intel</p>
                    </div>
                    <div class="Features3">
                        <h3>Procesador</h3>
                        <p class="Procesador">Intel Core i5</p>
                    </div>
                    <div class="Features4">
                        <h3>Disco Duro</h3>
                        <p class="Disco-Duro">1 TB</p>
                    </div>
                </div>
            </div>
            <div class="Title">
                <h2>Preguntale al vendedor</h2>
            </div>
            <div class="Barra-Boton">
                <input type="text" placeholder="Escribe aquí" class="Barra-Comentario"></input>
                <button type="submit" class="Boton-Preguntar">Preguntar</button>
            </div>
            <div class="Title">
                <h2>Preguntas de nuestros usuarios</h2>
            </div>
            <div class="Comentarios-Preguntas">
                <p class="Pregunta"><b>Hola buenas tardes, hasta que tipo de procesador le puedo actualizar y de qué
                        generación ?</b></p>
                <p class="Respuesta">∟ Hola GUSTAVORODRIGUEZ2006 , buenas tardes, a futuro podés aumentar la memoria
                    ram, podés agregarle una placa de video dedicada, podés agregarle mas unidades de almacenamiento y
                    mejorar el procesador a un Intel Core i7 de segunda o tercera generación. Contás con envío gratuito
                    a domicilio mediante MercadoEnvios. Esperamos tu compra. Cualquier otra duda estoy para ayudarte.
                    Saludos, atte. Mauro de Grupo Tecno. <b>04/04/2022</b></p>
                <p class="Pregunta"><b>Una vez realizada la compra, les envío el cuit y me hacen la factura para ese
                        cuit ?</b></p>
                <p class="Respuesta">∟ Hola MAURO MARCHIONNO , claro, ni bien realices la compra envianos tu CUIT a
                    facturar por mensajería privada de MercadoLibre. Contás con envío gratuito a domicilio mediante
                    MercadoEnvíos. Esperamos tu compra. Cualquier otra duda estoy para ayudarte. Saludos, atte. Mauro de
                    Grupo tecno. <b>04/04/2022</b></p>
            </div>
            <div class="Title2">
                <a href="#">Ver más preguntas <i class="fa-solid fa-angle-down"></i></a>
            </div>
            <div class="Title">
                <h2>Opiniones de clientes</h2>
            </div>
            <div class="Cont-Promedio-Opiniones">
                <div class="Promedio">
                    <h2>4.0</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <p class="Promedio-Subtitulo">Promedio entre 12 opiniones</p>
                    <div class="Tabla-Opiniones1">
                        <p>5 estrellas</p>
                        <p class="View">10 opiniones</p>
                    </div>
                    <div class="Cont-Linea">
                        <div class="Linea">
                            <hr>
                            </hr>
                        </div>
                        <div class="Linea2">
                            <hr>
                            </hr>
                        </div>
                    </div>
                    <div class="Tabla-Opiniones2">
                        <p>4 estrellas</p>
                        <p class="View">10 opiniones</p>
                    </div>
                    <div class="Cont-Linea">
                        <div class="Linea">
                            <hr>
                            </hr>
                        </div>
                        <div class="Linea2">
                            <hr>
                            </hr>
                        </div>
                    </div>
                    <div class="Tabla-Opiniones3">
                        <p>3 estrellas</p>
                        <p class="View">10 opiniones</p>
                    </div>
                    <div class="Cont-Linea">
                        <div class="Linea">
                            <hr>
                            </hr>
                        </div>
                        <div class="Linea2">
                            <hr>
                            </hr>
                        </div>
                    </div>
                    <div class="Tabla-Opiniones4">
                        <p>2 estrellas</p>
                        <p class="View">10 opiniones</p>
                    </div>
                    <div class="Cont-Linea">
                        <div class="Linea">
                            <hr>
                            </hr>
                        </div>
                        <div class="Linea2">
                            <hr>
                            </hr>
                        </div>
                    </div>
                    <div class="Tabla-Opiniones5">
                        <p>1 estrellas</p>
                        <p class="View">10 opiniones</p>
                    </div>
                    <div class="Cont-Linea">
                        <div class="Linea">
                            <hr>
                            </hr>
                        </div>
                        <div class="Linea2">
                            <hr>
                            </hr>
                        </div>
                    </div>
                </div>
                <div class="Opiniones">
                    <div class="Opiniones-Subtitulo">
                        <h2 class="Sub1"><a href="#" style="text-decoration: none; color: #3182de;">Todas</a></h2>
                        <h2 class="Sub2"><a href="#" style="text-decoration: none; color: #666;">Positivas</a></h2>
                        <h2 class="Sub3"><a href="#" style="text-decoration: none; color: #666;">Negativas</a></h2>
                    </div>
                    <div class="Opiniones-Comentarios">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="Opinion-Rank"><b>Excelente</b></p>
                        <p class="Opinion-Text">Excelente máquina tengo un estudio de grabación anda perfecto no se
                            cuelva la verdad que muy conforme.</p>
                        <div class="Likes">
                            <a href="#"><i class="fa-regular fa-thumbs-up"></i></a>23 <a href="#"><i
                                    class="fa-regular fa-thumbs-down"></i></a>5
                        </div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p class="Opinion-Rank"><b>Excelente</b></p>
                        <p class="Opinion-Text">El producto es excelente, buenos materiales, discreta,perfecta para el
                            uso hogareño o de oficina, el teclado funciona perfecto, los parlantes tienen un sonido
                            claro nítido, el "ratón" funciona correctamente, es con cable. Muy buen producto,
                            recomendado para uso hogareño, oficina, docentes, etc.</p>
                        <div class="Likes">
                            <a href="#"><i class="fa-regular fa-thumbs-up"></i></a>3 <a href="#">
                                <i class="fa-regular fa-thumbs-down"></i></a>0
                        </div>
                        <div class="Title2">
                            <a href="#">Ver más opiniones<i class="fa-solid fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="Productos-Relacionados">
            <div class="Title">
                <h2>Opiniones de clientes</h2>
            </div>
            <div class="Cont-Imagen2">
                <div class="Mini-Article">
                    <p class="Desc">60% OFF</p>
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
                <div class="Mini-Article2">
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
                <div class="Mini-Article2">
                    <p class="Desc">60% OFF</p>
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
                <div class="Mini-Article2">
                    <a class="Heart" href="#"><i class="fa-regular fa-heart"></i></a>
                    <img class="Producto" src="images\producto_volante.jpeg">
                    <div class="Sub-Mini-Article">
                        <p class="Precio-Original2">$38.000</p>
                        <h2 class="Precio2">$20.300</h2>
                        <p class="Nombre-Producto">Volante Logitech G29</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>