<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/productAdd-styles.css" rel="stylesheet">
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/headerLogged.ejs'); %>
    </header>
    <main>
        <form class="main-container" method="POST" action="/product/productAdd" enctype="multipart/form-data" id="productAddForm" name="productAddForm" >
            <div class="ball-container">
            <img class="bola-rosa" src="/images/bolita_rosa.png" alt="bola rosa">
            <img class="bola-verde" src="/images/bolita_verde.png" alt="bola verde">
            </div>
            <p class="subtitulo-principal">¡Hola Grupo 7!</p>
            <h1 class="titulo-principal">Contános sobre tu producto</h1>
            <hr class="titulos-linea">
            <p class="modelo">Nombre de tu producto</p>
                <div class="caja-producto-precio-stock formulario__grupo-input" id="grupo__name">
                    <label for="precioProducto" class="formulario__label"></label>
                    <input type="text" class="formulario__input"  required placeholder="Ej: Mouse Razer" name="name" id="id__name">
                    <p class="formulario__input-error">Este campo es obligatorio, se debe ingresar al menos 5 dígitos y solo puede contener numeros, letras y guion bajo</p>
                    <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                    </div>
                </div>
            <div class="container-uno">
                <img class="numero-uno" src="/images/1.png" alt="1">
                <h2>Seleccioná la categoría de tu producto</h2>
                <div class="categorias">
                    
                    <div class="img-contenedor">
                    <label for="monitores"><input type="radio" id="monitores" name="category" value="3" required>
                    <img src="/images/3269_800 1.png" alt="monitor"><br>Monitores</label>
                    </div>
                    
                    <div class="img-contenedor">
                    <label for="combos"><input type="radio" id="combos" name="category" value="6">
                    <img src="/images/compu 1.png" alt="combos"><br>Combos</label>
                    </div>
                    
                    <div class="img-contenedor">
                    <label for="teclados"><input type="radio" id="teclados" name="category" value="2" required>
                    <img src="/images/teclado.png" alt="teclados"><br>Teclados</label>
                    </div>

                    <div class="img-contenedor">
                    <label for="mouse"><input type="radio" id="mouse" name="category" value="1" required>
                    <img src="/images/mouse1.jpg" alt="mouse"><br>Mouse</label>
                    </div>
                    
                    <div class="img-contenedor">
                    <label for="procesadores"><input type="radio" id="procesadores" name="category" value="5" required>
                    <img src="/images/procesadores.jpeg" alt="procesadores"><br>Procesadores</label>
                    </div>

                    <div class="img-contenedor">
                    <label for="sillas"><input type="radio" id="sillas" name="category" value="4" required>
                    <img src="/images/silla 1.png" alt="sillas"><br>Sillas</label>
                    </div>

                </div>

                <img src="/images/Polygon 2.png" alt="flecha abajo">

            </div>

            <div class="container-dos">
            <img class="numero-dos" src="/images/2.png" alt="2">
            <h2>Indica la marca del producto</h2>
            <div class="caja-producto">
                <img class="pointer" src="/images/mano-1.png" alt="selector">
                <label  for="categoriaProducto"></label>
                <select class="caja-texto" name="brand" required>
                    <option disabled selected>Haz click para seleccionar</option>
                    <option value="1">Razer</option>
                    <option value="2">Corsair</option>
                    <option value="3">Mountain</option>
                    <option value="4">Logitech</option>
                    <option value="5">Asus</option>
                    <option value="6">Acer</option>
                    <option value="7">Samsung</option>
                    <option value="8">Dx Racer</option>
                    <option value="9">Cougar</option>
                    <option value="10">Newskill</option>
                    <option value="11">AMD</option>
                    <option value="12">Intel</option>
                    <option value="13">MSI</option>
                    <option value="14">Dell</option>
                    <option value="15">HP</option>
                    <option value="16">Lenovo</option>
                    <option value="17">Toshiba</option>
                    <option value="18">LG</option>
                    <option value="19">Apple</option>
                    <option value="20">Sony</option>                 
                </select>
                <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                </div>
            </div>

            <img src="/images/Polygon 2.png" alt="flecha abajo">

            </div>



        
            <div class="container-dos">
                <img class="numero-dos" src="/images/2.png" alt="2">
                <h2>Indica el modelo del producto</h2>
                <div class="caja-producto-precio-stock formulario__grupo-input" id="grupo__name">
                    <label for="precioProducto" class="formulario__label"></label>
                    <input type="text" class="formulario__input"  required placeholder="Ej: Everest Max" name="model" id="id__model">
                    <p class="formulario__input-error">Este campo es obligatorio, se debe ingresar al menos 5 dígitos y solo puede contener numeros, letras y guion bajo</p>
                    <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                    </div>
                </div>
    
                
    
                </div>







            <div class="container-tres">
            <img class="numero-tres" src="/images/3.png" alt="3">
            <h2>Indica las caracteristicas del producto</h2>
            <p class="modelo">PROCESADOR</p>
            <div class="caja-producto">
                <img class="pointer" src="/images/mano-1.png" alt="selector">
                <label  for="caracteristicasProducto"></label>
                <select class="caja-texto" name="processor" required>
                    <option disabled selected>Haz click para seleccionar</option>
                    <option value="i9">i9</option>
                    <option value="i7">i7</option>
                    <option value="i5">i5</option>
                    <option value="i3">i3</option>
                    <option value="ryzen7">Ryzen7</option>
                    <option value="ryzen5">Ryzen5</option>
                    <option value="ryzen3">Ryzen3</option>
                    <option value="NA">No aplica</option>
                </select>
                <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                </div>
            </div>
            <p class="modelo">MEMORIA</p>
            <div class="caja-producto">
                <img class="pointer" src="/images/mano-1.png" alt="selector">
                <label  for="caracteristicasProducto"></label>
                <select class="caja-texto" name="memory" required>
                    <option disabled selected>Haz click para seleccionar</option>
                    <option value="4gb">4GB</option>
                    <option value="8gb">8GB</option>
                    <option value="16gb">16GB</option>
                    <option value="32gb">32GB</option>
                    <option value="64gb">64GB</option>
                    <option value="128gb">128GB</option>
                    <option value="NA">No aplica</option>
                </select>
                <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                </div>
            </div>
            <p class="modelo">DISCO DURO</p>
            <div class="caja-producto">
                <img class="pointer" src="/images/mano-1.png" alt="selector">
                <label  for="caracteristicasProducto"></label>
                <select class="caja-texto" name="storage" required>
                    <option disabled selected>Haz click para seleccionar</option>
                    <option value="128gb">128GB</option>
                    <option value="256gb">256GB</option>
                    <option value="512gb">512GB</option>
                    <option value="1tb">1TB</option>
                    <option value="2tb">2TB</option>
                    <option value="NA">No aplica</option>
                </select>
                <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                </div>
            </div>
            <img src="/images/Polygon 2.png" alt="flecha abajo">
            </div>
            <div class="container-cuatro">
                    <img class="numero-cuatro" src="/images/4.png" alt="4">
                    <h2>Colocá una breve descripción del producto</h2>
                    
                    <div class="caja-producto-descripcion formulario__grupo-input" id="grupo__description">
                        <label class="formulario__label"></label>
                        <img class="pencil" src="/images/pencil.png" alt="lapiz">
                        <textarea rows="10" required placeholder="Escribe aqui" name="description" class="formulario__input"></textarea>
                        <p class="formulario__input-error">La descripcion de producto debe ser de al menos 20 caracteres.</p>
                    </div>
                    <img src="/images/Polygon 2.png" alt="flecha abajo">
                    
            
            </div>

            <div class="container-cinco">
                <img class="numero-cinco" src="/images/5.png" alt="5">
                <h2>Carga las imagenes del producto</h2>
                <div class="caja-producto-imagenes">
                    <img class="pointer" src="/images/plus-sign.png" alt="selector">
                    
                    <label  for="imagenesProducto" class="formulario__label"></label>
                    <input type="file" name="image_11" required class="formulario__input" id="image_1" onchange="return validarExt()">
                    
                    <input type="file" name="image_12" required id="image_2" onchange="return validarExt2()">
                    
                    <input type="file" name="image_13" required id="image_3" onchange="return validarExt3()">
                    <div id="visorArchivo"></div>
                    <div id="visorArchivo2"></div>
                    <div id="visorArchivo3"></div>
                </div>
                <img src="/images/Polygon 2.png" alt="flecha abajo">
            </div>

            <div class="container-seis">
                <img class="numero-seis" src="/images/6.png" alt="6">
                <h2>Indica el precio de venta e inventario disponible</h2>
                <div>
                <p class="modelo">PRECIO sin descuento</p>
                <div class="caja-producto-precio-stock">
                    <label for="precioProducto"></label>
                    <input type="text" placeholder="Ej. 500.00" required minlength="1" name="price">
                    </select>
                    <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                    </div>
                </div>
                <div>
                    <p class="modelo">PRECIO con descuento</p>
                    <div class="caja-producto-precio-stock">
                        <label for="precioProducto"></label>
                        <input type="text" placeholder="Ej. 500.00" required minlength="1" name="priceDiscount">
                        </select>
                        <div>
                        <img class="selector" src="/images/Rectangle.png" alt="Selector">
                        </div>
                    </div>
            </div>
            <div>
                <p class="modelo">STOCK</p>
                <div class="caja-producto-precio-stock">
                    <label for="stockProducto"></label>
                    <input type="text" placeholder="Ej. 3" required minlength="1" name="stock">
                    </select>
                    <div>
                    <img class="selector" src="/images/Rectangle.png" alt="Selector">
                    </div>
                </div>

            </div>
            <img src="/images/Polygon 2.png" alt="flecha abajo">

            </div>
            
            <div class="container-siete">

                <img class="bola-rosa-2" src="/images/bolita_rosa.png" alt="bola rosa">
                <img class="bola-verde-2" src="/images/bolita_verde.png" alt="bola verde">

                <img src="" alt="">
                <h1>¡Ya casi estas list@!</h1>
                <div class="form-button">
                    <button class="login-button" type="submit">SIGUIENTE</button>
                <!--<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>-->
                </div>
            </form>
    </main>
    <script type="text/javascript" src="/js/productAdd.js"></script>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>