<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="/styles/productCart-styles.css" rel="stylesheet" >
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header class="main-header">
           <%- include('./partials/headerLogged.ejs'); %> 
    </header>
<main class="first-main">

    <div class="contain-one">
        <section class="section">
            <ul class="buttons">
                <li class="item">
                    <a class="caracteristic" aria-current="page" href="#">Carrito (1)</a>
                </li>
                <li class="item">
                    <a class="caracteristic" aria-current="page" href="#">Guardados (0)</a>
                </li>
            </ul>
        </section>
        <section class="option">
            <img class="cpu" src="/images/producto_cpu.webp" alt="producto-cpu">
            <div class="order">
                <div class="tittles">
                    <p class="name">Lorem ipsum dolor</p>
                    <img class="car" src="/images/producto_camion.png" alt="camion" >
                    <p class="send-info">Envio gratis</p>
                </div>
                <div class="sum">
                    <button class="more"> + </button>
                    <!-- <p class="change"> 1</p> -->
                    <div class="change">
                        <input class="quantity" value="1" type="text" name="user" placeholder="1" >
                        <!-- <textarea name="textarea" rows="1" cols="1">1</textarea> -->
                    </div>
                    <button class="rest"> - </button>
                </div>
                <p class="price">$30,000</p>
            </div>
        </section>
        <form class="option-desc"  method="PUT">
            <ul class="buttons-two">
                <li class="item">
                    <button type="reset" class="remove" aria-current="page" href="#">Eliminar</button>
                </li>
                <li class="item">
                    <button type="button" class="relation" aria-current="page" href="#">Mas productos del vendedor</button>
                </li>
                <li class="item">
                    <button type="submit" class="send" aria-current="page" href="#">Guardar para despues</button>
                </li>
            </ul>
        </form>
        <section class="info">
            <div class="choices">
                <p class="live">Envio a lorem impsum, Barrio</p>
                <!-- <a class="option-live" href=""> <img class="slice" src="/images/producto_flecha_azul.png" alt="flecha-azul"></a> -->
                <select class="option-live" name = "" src="/images/producto_flecha_azul.png">
                    <optgroup label="CABA">
                        <option value="Palermo"></option>
                        <option value="Cabildo"></option>
                    </optgroup>
                    <optgroup label="Tigre">
                        <option value="Palermo"></option>
                        <option value="Cabildo"></option>
                    </optgroup>
                    <optgroup label="Escobar">
                        <option value="Palermo"></option>
                        <option value="Cabildo"></option>
                    </optgroup>
                    <optgroup label="Pilar">
                        <option value="Palermo"></option>
                        <option value="Cabildo"></option>
                    </optgroup>
                </select>
                <p class="option">Gratis</p>
            </div>
            <div class="paying">
                <p class="total">Total con envio</p>
                <p class="price-finale">$30,000</p>
            </div>
        </section>
        <section class="continue">
            <button type="submit" class="first"> <img class="white-car" src="/images/carrito_camion.png">
                <p class="first">Continuar Compra </p>
                </button>
        </section>

    </div>

    <div class="contain-two">
        <h3 class="new-seccion">Recomendaciones para vos</h3>
         <div class="publication">
            <article class="product-seller">
                <div class="decoration">
                    <p class="desc"> 60% OFF</p>
                    <img class="heart-with" src="/images/corazon.png" alt="blue-heart">
                </div>
                <img class="volante" src="/images/producto_volante.jpeg" alt="producto-volante">
                <div class="contain-price">
                    <p class="previous-col8"><del>$38,000</del> </p>
                    <p class="price-col8">$20,300</p>
                    <p class="description-col8">Volante Logitech G29</p>
                </div>
            </article>
            <article class="product-seller">
                <div class="decoration">
                <img class="heart-without" src="/images/corazon.png" alt="blue-heart">
            </div>
                <img class="volante" src="/images/producto_volante.jpeg" alt="producto-volante">

                <div class="contain-price">
                    <p class="previous-col8"><del>$38,000</del> </p>
                    <p class="price-col8">$20,300</p>
                    <p class="description-col8">Volante Logitech G29</p>
                </div>
            </article>
            <article class="product-seller-two">
                <div class="decoration">
                    <p class="desc"> 60% OFF</p>
                    <img class="heart-with" src="/images/corazon.png" alt="blue-heart">
                </div>
                <img class="volante" src="/images/producto_volante.jpeg" alt="producto-volante">
                <div class="contain-price">
                    <p class="previous-col8"><del>$38,000</del> </p>
                    <p class="price-col8">$20,300</p>
                    <p class="description-col8">Volante Logitech G29</p>
                </div>
            </article>
            <article class="product-seller-two">
                <div class="decoration">
                    <img class="heart-without" src="/images/corazon.png" alt="blue-heart">
                </div>
                <img class="volante" src="/images/producto_volante.jpeg" alt="producto-volante">
                <div class="contain-price">
                    <p class="previous-col8"><del>$38,000</del> </p>
                    <p class="price-col8">$20,300</p>
                    <p class="description-col8">Volante Logitech G29</p>
                </div>
            </article>
            <button class="more-option">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front"> <img class="flechaAzul" src="/images/producto_flecha_azul.png" alt="flecha-azul">
                </span>
              </button>
         </div>
    </div>
    <div class="contain-three">
        <h3 class="new-seccion-two">Ofertas</h3>
        <div class="col-8">
            <section class="anuncio">
                <p class="promotion">Lorem ipsun dolor sit amet</p>
                <button class="new-product">Ver todas <img class="flechita-azul" src="/images/producto_flecha_azul.png"></button>
                <img class="joystick" src="/images/carrito_controles.png" alt="controles">
            </section>
            <section class="product">
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
            </section>
            <section class="product-two">
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
                <article class="product-info">
                    <img class="game-chair" src="/images/carrito_silla.jpeg" alt="producto-volante">
                    <!-- <img src="/images/corazon.png" alt="heart">-->
                    <div class="col-4">
                        <p class="previous-col4"><del>$40,000</del> </p>
                        <span class="col-min">
                            <p class="price-col4">$36,000</p>
                            <p class="off-col4">20% OFF</p>
                        </span>
                        <p class="cuotas">12 x $1,000 sin interes</p>
                        <p class="description-col4">Silla Gamer Marvo CH 106</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
</main>
<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>
</body>
</html>