<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/productEdit-styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Numpy - Edicion de Producto</title>
</head>
<body>

    
    <main>
        <!--Seccion 1: titulos principales-->
        <div class="seccion-titulos-principales">
            <img class="bola-rosa" src="/images/bolita_rosa.png" alt="bolita rosa">
            <p class="subtitulo-principal">¡Gracias Grupo 7!</p>
            <h1 class="titulo-principal">Confirma si los datos son correctos.</h1>
            <hr class="titulos-linea">
            <img class="bola-verde" src="/images/bolita_verde.png" alt="bolita verde">
        </div>
        <!--Seccion 2: Carga de productos-->
        <form class="seccion-detalles-producto seccion-detalles-producto-1" action="/productEdit" method="POST">
                <img class="imagen-producto" src="/images/producto_cpu.webp" alt="cpu intel">
                <div class="titulo-linea">
                        <h2 class="titulo-producto">Categoría producto</h2>
                        <hr class="linea-producto">
                    <div class="caja-producto">
                        <p class="caja-tick">✅</p>
                        <label  for="categoriaProducto"></label>
                        <select class="caja-texto" name="categoriaProducto" required>
                            <option>CBU</option>
                            <option>PC</option>
                            <option>Silla Gamer</option>
                        </select>
                        <div class="imagen-lapiz">
                            <img src="/images/lapiz_edicion.png" alt="Editar imagen">
                        </div>
                    </div>
                     <!--Seccion 3: Carga de productos sub-seccion -->
                    <div class="titulo-linea">
                        <h2 class="titulo-producto">Marca</h2>
                        <hr class="linea-producto">
                        <div class="caja-producto">
                            <p class="caja-tick">✅</p>
                            <label  for="marcaProducto"></label>
                            <select class="caja-texto" name="marcaProducto" required>
                                <option>Intel</option>
                                <option>Intel</option>
                                <option>Intel</option>
                            </select>
                        </div>
                    </div>
                    <div class="titulo-linea">
                        <h2 class="titulo-producto">Modelo</h2>
                        <hr class="linea-producto">
                        <div class="caja-producto">
                            <p class="caja-tick">✅</p>
                            <label  for="modeloProducto"></label>
                            <select class="caja-texto" name="modeloProducto" required>
                                <option>XXXXXXXX</option>
                                <option>XXXXXX</option>
                                <option>XXXXXXX</option>
                            </select>
                        </div>
                    </div>
                    <div class="titulo-linea">
                        <h2 class="titulo-producto">Procesador</h2>
                        <hr class="linea-producto">
                        <div class="caja-producto">
                            <p class="caja-tick">✅</p>
                            <label  for="procesadorProducto"></label>
                            <select class="caja-texto" name="procesadorProducto" required>
                                <option>XXXXXXX</option>
                                <option>XXXXXXX</option>
                                <option>XXXXXXXX</option>
                            </select>
                        </div>
                    </div>
                    <div class="titulo-linea">
                        <h2 class="titulo-producto">Disco duro</h2>
                        <hr class="linea-producto">
                        <div class="caja-producto">
                            <p class="caja-tick">✅</p>
                            <label  for="discoDuroProducto"></label>
                            <select class="caja-texto" name="discoDuroProducto" required>
                                <option>XXXXXXXX</option>
                                <option>XXXXXXXX</option>
                                <option>XXXXXXXX</option>
                            </select>
                        </div>
                    </div>
                    <div class="titulo-linea">
                        <h2 class="titulo-producto">Descripción</h2>
                        <hr class="linea-producto">
                        <div class="caja-producto caja-producto-descripcion">
                            <p class="caja-tick">✅</p>
                            <label  for="descripcionProducto"></label>
                            <textarea class="caja-texto" name="categoriaProducto" type="text" maxlength="1000" required>
                            </textarea>
                            <img src="/images/lapiz_edicion.png" alt="Editar imagen">
                        </div>
                    </div>
                </div> 
            </form>    
            <!--Seccion 4: Carga de fotos --> 
            <div class="seccion-detalles-producto-2">
                <h2 class="titulo-producto titulo-producto-2">Fotos</h2>
                <hr class="linea-producto linea-producto-2">
                <div class="seccion-carga-fotos">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <img class="imagen-producto-2" src="/images/producto_cpu.webp" alt="cpu intel">
                    <div class="div-agregar-fotos">
                        <img class="imagen-agregar-fotos" src="/images/simbolo_mas.png" alt="Agregar fotos">
                    </div>
                </div>
             </div>
        </div>
         <!--Seccion 5: Carga de precio --> 
         <div class="seccion-detalles-producto-2 seccion-detalles-producto-3">
            <div class="titulo-linea">
                <h2 class="titulo-producto">Precio por unidad</h2>
                <hr class="linea-producto">
                <div class="caja-producto-2">
                    <p class="caja-tick">✅</p>
                    <label  for="precioProducto"></label>
                    <input class="caja-texto" name="categoriaProducto" type="number" name="precioProducto" required>
                </div>
            </div> 
            <div class="titulo-linea">
                <h2 class="titulo-producto">Inventario a la venta</h2>
                <hr class="linea-producto">
                <div class="caja-producto-2">
                    <p class="caja-tick">✅</p>
                    <label  for="unidadesProducto"></label>
                    <input class="caja-texto" name="categoriaProducto" type="number" name="unidadesProducto" required>
                </div>
            </div>   
        
        <!--Seccion 6: Final --> 
        <div class="final-general">
            <p class="final-titulo">¿Ya todo revisado?</p>
            <button>
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span>Enviar</span>
              </button>
              <img class="bola-rosa-2" src="/images/bolita_rosa.png" alt="Bola rosa">
              <img class="bola-verde-2" src="/images/bolita_verde.png" alt="Bola verde">
        </div>
    </main>  
    <footer>
       
    </footer>
</body>
</html>