<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test-nav/nav-styles.css">
    <script src="https://kit.fontawesome.com/21c548f2ca.js" crossorigin="anonymous"></script>     
    <title>Registro</title>
</head>
<body>
    <header class="main-header">
            <nav class="nav-bar">
                <div class="logo-numpy">
                    <img src="images/logo-numpy.svg" alt="logo numpy">
                </div>
                <div class="search-container">
                    <form action="#" method="get" name="search">
                    <input class="search-input" type="text" placeholder="Buscá tus productos y marcas preferidas..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="nav-top-right-top">
                    <ul class="nav-top-right">
                        <li class="list-nav-1"><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li class="list-nav-2"><a href="register.html">Creá tu cuenta</a></li>
                        <li class="list-nav-3"><a href="login.html">Ingresá</a></li>
                        <li class="list-nav-4"><a href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </div>
            </nav>
            <div class="shortcuts-bar show-nav">
                <a class="ship" href="#"><i class="fa-solid fa-location-dot"></i>Enviar a Capital Federal</a>
                <ul class="nav-bottom">
                    <li class="list-nav"><a href="#">Categorias<i class="fa-solid fa-angle-down"></i></a></li>
                    <li class="list-nav"><a href="#">Armá tu PC</a></li>
                    <li class="list-nav"><a href="#">Gamers</a></li>
                    <li class="list-nav"><a href="#">Oficina</a></li>
                    <li class="list-nav"><a href="#">Hogar</a></li>
                    <li class="list-nav"><a href="#">Ofertas</a></li>
                </ul>

            </div>
    </header>
</body>
</html>