.footer {
    width: 100%;
}

.footer-div {
    /* background-color: #ebebeb; */
    width: 100%;
    margin-top: 20px;
}

.footer-div a {
    text-decoration: none;
}

.footer-div a p {
    background-color: black;
    text-decoration: none;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    letter-spacing: 0.1em;
}




.footer-seccion-2 {
    padding-top: 0px;
}

.footer-lista-general {
    list-style-type: none;
    padding: 0;
    display: flex;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-lista-general .footer-lista {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    text-align: center;
    letter-spacing: 0.1em;
}

.footer-seccion-2 {
    background-color: black;
    padding-top: 2%;
}

.footer-logo {
    margin-top: 10px;
    width: 25%;
}

.footer-logo-div {
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
}

.mas-info {
    text-align: center;
}

.footer-seccion-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }

@media (min-width: 369px) {

    .footer-div {
        /* background-color: #ebebeb; */
        width: 100%;
    }

    .footer-div a {
        text-decoration: none;
    }

    .footer-div a p {
        background-color: black;
        text-decoration: none;
        color: white;
        width: 30%;
        border-radius: 10px;
        margin-left: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }


    .footer-seccion-2 {
        padding-top: 0px;
    }

    .footer-seccion-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        }

}

@media (min-width: 769px) {
    .footer-div {
        /* background-color: #ebebeb; */
        width: 100%;
    }

    .footer-div a {
        text-decoration: none;
    }

    .footer-div a p {
        background-color: black;
        text-decoration: none;
        color: white;
        width: 20%;
        border-radius: 10px;
        margin-left: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .footer-seccion-2 {
        padding-top: 2%;
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer-lista-general {
        flex-direction: row;
    }

    .footer-logo {
        width: 100%;
    }
}