.footer {
    width: 100%;
}

.footer-div {
    background-color: #ebebeb;
    width: 100%;
}

.footer-div a {
    text-decoration: none;
}

.footer-div a p {
    font-size: 0.6em;
    background-color: black;
    text-decoration: none;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    letter-spacing: 0.1em;
}

.footer-div a i {
    margin-left: 5%;
    font-size: 1em;
}

.footer-seccion-2 {
    padding-top: 0px;
}

.footer-lista-general {
    list-style-type: none;
    padding: 0;
    display: flex;
    color: white;
    font-size: 0.6em;
    width: 100%;
}

.footer-lista-general .footer-lista {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    text-align: center;
    letter-spacing: 0.1em;
}

.footer-seccion-2 {
    background-color: black;
    padding-top: 2%;
}

.footer-logo {
    margin-top: 5%;
    width: 45%;
}

.footer-logo-div {
    justify-content: center;
    display: flex;
    padding-bottom: 60px;
}

@media (min-width: 369px) {

    .footer-div {
        background-color: #ebebeb;
        width: 100%;
    }

    .footer-div a {
        text-decoration: none;
    }

    .footer-div a p {
        font-size: 0.8em;
        background-color: black;
        text-decoration: none;
        color: white;
        width: 30%;
        border-radius: 10px;
        margin-left: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .footer-div a i {
        margin-left: 20%;
        font-size: 1.2em;
    }

    .footer-seccion-2 {
        padding-top: 0px;
    }

    .footer-lista-general {
        font-size: 0.8em;
    }

    .footer-logo {
        width: 35%;
    }
}

@media (min-width: 769px) {
    .footer-div {
        background-color: #ebebeb;
        width: 100%;
    }

    .footer-div a {
        text-decoration: none;
    }

    .footer-div a p {
        font-size: 1.1em;
        background-color: black;
        text-decoration: none;
        color: white;
        width: 20%;
        border-radius: 10px;
        margin-left: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .footer-div a i {
        margin-left: 30%;
        font-size: 1.5em;
    }

    .footer-seccion-2 {
        padding-top: 2%;
    }

    .footer-lista-general {
        font-size: 1.1em;
    }

    .footer-logo {
        width: 25%;
    }
}