*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ebebeb;
}

header{
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    padding-bottom: 12px;
}

.search-input{
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    padding: 10px 10px 10px 18px;
    color: #333;
    outline: none;
    position: relative;
    right: 20px;
    width: 100%;
}

.search-container{
    width: 33%;
}

.search-container form{
    width: 100%;
    display: flex;
}

.search-container .fa-search{
    color: #333;
    padding-right: 10px;
}

.search-container button{
    background-color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    outline: none;
    position: relative;
    right: 20px;
    cursor: pointer;
}

.fa-location-dot{
    padding-right: 10px;
}


.logo-numpy{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-numpy img{
    width: 60%;
    position: relative;
    right:10px;
}

.main-header a{
    /* color: white; */
    padding: 0 10px;
    text-decoration: none;
}

.main-header{
    background-color: black;
    padding: 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 3px 3px 3px;
    padding-top: 15px;
}

.nav-top-right-top{
    width: 33%;
}

.nav-top-right{
    width: 32vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.nav-bottom li{
    display: flex;
    margin: 0 20px;
    flex-wrap: nowrap;
}

.nav-bottom {
    margin-bottom: 0px;
}

.shortcuts-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.shortcuts-bar a .fa-location-dot{
    color: #333;
}

.ship{
    display: none;
    color: #FFFFFF;
    opacity: 50%;
}

.fa-circle-user{
    padding-right: 5px;
}

.fa-angle-down{
    padding-left: 5px;
}

.list-nav .fa-angle-down{
    padding-left: 10px;
}

.show-nav{
    display: none;
}

.list-nav-2 {
    padding-right: 15px;
    font-size: 6px;
    
}

.list-nav-3 {
    display: none;
}

.list-nav-4 {
    padding-right: 10px;
    font-size: 12px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #4DABCF;
}


.hero {
    margin-right: 20px;
}


.nav-item {
    font-size: 24px;
}

.lista-menu {
    margin-bottom: 10px;
}


@media (min-width: 680px){
        .show-nav{
            display: block;
            justify-content: space-evenly;
}
}

@media (min-width: 768px){
    .show-nav{
        display: flex;
    }

    .list-nav-2,
    .list-nav-4{
        display: flex;
        font-size: 16px;
    }
}

@media (min-width: 900px){

    .hero {
        margin-right: 160px;
    }

    .nav-bottom {
        margin-right: 140px;
    }

    .ship{
        display: block;
        padding-left: 25px;
        opacity: 70%;
        font-size: 12px;
    }

}

@media (min-width: 1200px){

    .ship{
        padding-left: 64px;
    }

    .list-nav-3 {
        display: block;
        padding-right: 20px;
        font-size: 12px;
    }

    .show-nav{
        justify-content: space-between;
    }
}