* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Lista {
    flex-direction: column;
    display: flex;
    width: 80%;
    margin-top: 3%;
    padding-top: 30px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-left: 80px;
    margin-bottom: 80px;
}

.Listax {
    margin-left: 5%;
    margin-top: 0.5%;
    
}

.Listax a{
    color: black;
    font-weight: 1000;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

.Listax a:hover{
    color: blue;
}

.titulo {
    color: #918a8d;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 34px;
}

.bolita{
    width: 10%;
}

.bolita-div {
    text-align: center;
}

.imagenes-productos {
    width: 40px;
}

.imagenes-productos:hover{
    transform: translateY(-7px);
}

.div-lista{
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

.categoria-producto {
    color: #918a8d;
    font-size: 12px;
    padding-left: 80px;
}


@media (min-width: 768px){


}


@media (min-width: 1200px){

    .Lista {
        width: 50%;
        padding-left: 120px;
    }
    
}