body{
  background-color: lightgray;
}

/** main **/
.contain-one {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  position: relative;
  /* left: 105px; */
  border: 1px soli #6666;
  background-color: #fff;
  padding: 22px 60px;
  height: 145vw;
  margin: 20px;
  /* width: 75vw; */
}
section.section {
  display: flex;
  align-items: center;
  /* width: 65vw; */
  background-color: #fff;
}
ul {
  list-style: none;
  display: flex;
}
a.caracteristic{
  color: #000;
}
button.remove, button.relation, button.send{
  color: darkgrey;
  text-decoration: none;
}
/* a {
  color: #03263c;
  text-decoration: none;
} */
section.option {
  display: flex;
  background-color: #fff;
  border-top: 1px solid #6666;
  border-bottom: 1px solid #6666;
  padding: 25px 5px;
}
img.cpu {
  width: 40px;
  height: 40px;
  position: relative;

}
.order {
  padding: 5px;
  width: 45vw;
  height: 20vh;

  position: relative;
  display: flex;
}
.tittles {
  font-size: 12px;
  display: flex;
}
/* p.name {
  position: relative;
} */
img.car {
  width: 50px;
  top: 65px;
  position: absolute;
  height: 50px;
}
p.send-info {
  position: absolute;
  font-size: 17px;
  top: 65px;
  color: #0d6efd;
  left: 100px;
}
.sum {
  display: flex;
  position: relative;
  /* top: 20px; */
  height: 30px;
  left: 20px;
  align-items: center;
  border: 1px solid blue;
  border-radius: 15px;
  background-color: gray;
}
input.quantity {
  width: 4vw;
}
button.more {
  padding: 3px 8px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  /* align-content: center; */
  border: 0;
  background-color: #6666;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* height: 27px; */
  font-size: 16px;
  transition: all 0.5s ease;
}
button.more:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button.more:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 100ms;
}
/* p.change {
  position: relative;
  margin: 5px;
} */
button.rest {
  padding: 3px 8px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  /* align-content: center; */
  border: 0;
  background-color: #6666;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* height: 27px; */
  font-size: 16px;
  transition: all 0.5s ease;
}
button.rest:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button.rest:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 100ms;
}
p.price {
  position: relative;
  font-size: 17px;
  left: 28px;
}
.option-desc {
  /* height: 50px; */
  /* padding: 0px 60px; */
  background-color: #ffff;
  border-bottom: 1px solid #6666;
}
li.item {
  padding: 7px 5px;
  position: relative;
  font-size: 12px;
}
section.info {
  padding: 10px;
  background-color: #fff;
  display: grid;
}
.choices {
  display: flex;
  position: relative;
  width: 61vw;
}
select.option-live {
  /* border: 1px solid; */
  position: relative;
  width: 20px;
  color: blue;
  height: 33px;
}
p.live {
  font-size: 13px;
}
p.option {
  font-size: 15px;
  position: relative;
  color: #1259c3;
  left: 12vw;
}
.paying {
  display: flex;
  align-items: center;
  position: relative;
  width: 70vw;
  /* left: 25px; */
  padding: 2px 10px;
}
p.total {
  font-size: 25px;
  padding: 3px 17px;
}
p.price-finale {
  font-size: 15px;
  position: relative;
}
section.continue {
  background-color: white;
  padding: 15px;
  border-top: 1px solid #6666;
  border-bottom: 1px solid #6666;
}
button.first {
  padding: 10px 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #4DABCF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
}
p.first{
  position: relative;
  top: 8px;
}

button.first:hover {
  background-color: #89387B;
  box-shadow: 0px 15px 20px rgb(77 171 207 / 40%);
  color: #fff;
  transform: translateY(-7px);
}

button.first:active {
  transform: translateY(-1px);
}
img.white-car {
  width: 5vw;
  margin: 0.5em;
}

option.city{
  color: rgb(49, 10, 10);
  background-color: #b46067;
}
/**                   contain two               **/
.contain-two {
  display: grid;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  position: relative;
  /* right: 75px; */
  padding: 15px 0px;
  margin: 0px;
}
h3.new-seccion {
  color: #666666;
  font-size: 15px;
  align-items: center;
  letter-spacing: 2.5px;
  align-content: center;
  left: 20px;
  position: relative;
  display: flex;
}
.publication {
  align-items: center;
  margin: 15px;
  position: relative;
  /* align-content: center; */
  display: flex;
}
article.product-seller {
  border: 1px solid #666666;
  border-radius: 15px;
  background-color: #ffff;
  margin: 5px;
  align-content: center;
  padding: 25px;
}
article.product-seller-two {
  display: none;
}
img.volante {
  width: 87px;
  height: 65px;
}
.decoration{
  display: flex;
}
p.desc {
  position: relative;
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 19vw;
  height: 1.5em;
  right: 20px;
  font-size: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
img.heart-with{
  cursor: pointer;
  position: relative;
  height: 1.5em;
  left: 20px;
}
img.heart-without{
  cursor: pointer;
  position: relative;
  height: 1.5em;
  left: 25vw;
}
.contain-price {
  position: relative;
  height: 80px;
}
p.previous-col8 {
  color: #666666;
  font-size: 12px;
  margin: -1px;
}
p.price-col8 {
  font-size: 20px;
  margin: 1px;
}
p.description-col8 {
  color: #666666;
  font-size: 15px;
}
/**button for more options**/
button.more-option {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(25, 0, 82) 0%,
    rgb(0, 76, 163) 8%,
    rgb(49, 0, 163) 92%,
    rgb(25, 0, 82) 100%
  );
}

.front {
  border: 1px solid;
  /* height: 12vh; */
  display: GRID;
  position: absolute;
  right: 2vw;
  top: 42vw;
  width: 90vw;
  padding: 10px 125px;
  border-radius: 12px;
  background: rgb(229, 248, 253);
  will-change: transform;
  transform: translateY(-9px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button.more-option:hover {
  filter: brightness(110%);
}


/** contain three **/
.contain-three {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  position: relative;
  left: 10px;
  padding: 50px 60px;
  margin: 20px;
  width: 80vw;
}
h3.new-seccion-two {
  color: #666666;
  font-size: 16px;
  align-items: center;
  letter-spacing: 2.5px;
  align-content: center;
  /* right: 75px; */
  bottom: 20px;
  position: relative;
  padding: 5px 15px;
  display: flex;
}
.col-8 {
  display: flex;
  padding: 5px;
  width: 74vw;
  background-color: white;
  border-radius: 15px;
}
section.anuncio {
  width: 32vw;
  position: relative;
  margin: 0px -3px;
  border-radius: 12px;
  background-color: #dadfff;
}
p.promotion {
  font-size: 13px;
  /* border-inline: inherit; */
  position: relative;
  top: 50px;
  margin: 10px 15px;
}
button.new-product {
  position: relative;
  top: 75px;
  /* left: 30px; */
  padding: 10px 2em;
  width: 20vw;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
button.new-product:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button.new-product:active {
  transform: translateY(-1px);
}
img.flechita-azul {
  width: 2vw;
  margin: 0px 5px;
}
img.joystick {
  width: 20vw;
  height: 40vh;
  position: relative;
  top: 80px;
}
/** section product**/
section.product {
  position: relative;
  width: 30vw;
  background-color: #fff;
}
section.product-two {
  background-color: #fff;
  boder-radius: 15px;
  display: none;
}

article.product-info {
  display: flex;
  width: 34vw;
  height: 35vw;
  margin: 15px 0px;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}
img.game-chair {
  width: 10vw;
  height: 20vh;
}

p.previous-col4 {
  font-size: 10px;
  bottom: 12px;
  display: flex;
  position: relative;
  margin: 2px;
  color: #6666;
}
span.col-min {
  display: flex;
  position: relative;
}
p.price-col4 {
  font-size: 12px;
  margin: 3px 3px;
  position: relative;
  bottom: 15px;
  align-items: center;
}
p.off-col4 {
  position: absolute;
  right: 40px;
  font-size: 9px;
  /* top: 10px; */
  color: #39b54a;
}
p.cuotas {
  font-size: 10px;
  align-items: center;
  display: flex;
  position: relative;
  right: 7px;
  color: #6666;
}
p.description-col4 {
  font-size: 10px;
  top:10px;
  position: relative;
  padding: 1px 0px;
  color: #666;
}

/**Footer**/
footer {
  background-color: #000;
}
.footer {
  width: 100%;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 20%;
  height: 40px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 200px;
}

.footer-lista-general {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 120px;
}

.footer-imagen {
  width: 5%;
  transform: rotate(180deg);
  margin-left: 14px;
}

.footer-seccion-2 {
  background-color: black;
}

.footer-logo {
  width: 20%;
}

.footer-lista {
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.footer-logo-div {
  justify-content: center;
  display: flex;
  padding-bottom: 60px;
}

.footer-texto {
  color: white;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}
/******************** computadora ***********************/
@media (min-width: 360px) {
  .contain-one {
    left: 10vw;
    width: 75vw;
    top: 5vh;
    height: 91vh;
    padding: 50px 60px;
  }
  section.product-two {
    background-color: #fff;
    border-radius: 15px;
    display: grid;
  }
  section.section {
    width: 65vw;
  }
  section.option {
    padding: 30px 40px;
  }
  img.cpu {
    width: 20%;
    position: relative;
    right: 20px;
    height: 22vh;
  }
  /* .order{
    left: 40px;
    width: 60vw;
  } */
  .tittles {
    font-size: 30px;
  }
  p.name {
    position: relative;
    top: 15px;
  }
  img.car {
    bottom: 15px;
    left: 20px;
  }
  p.send-info {
    top: 85px;
    left: 85px;
  }
  button.remove, button.relation, button.send{
    padding: 0px 30px;
    font-size: 17px;
  }
  .sum{
    top: 20px;
    height: 35px;
    left: 50px;
  }
  input.quantity {
    width: 2vw;
    text-align: center;
    height: 5vh;
    border: 1px;
  }
  p.price {
    font-size: 30px;
    left: 12vw;
    top: 20px;
  }
  ul.buttons-two {
    position: relative;
    /* padding: 3px 30px 0px 65px; */
  }
  button.more{
    font-size: 23px;
  }
  button.rest{
    font-size: 24px;
  }

  li.item {
    padding: 2px 0px 10px 55px;
    left: 25px;
    font-size: 16px;
  }
  .choices {
    right: 5vw;
  }
  p.live {
    font-size: 20px;
    position: relative;
    left: 190px;
  }
  select.option-live {
    width: 30px;
    left: 10vw;
  }
  p.option {
    font-size: 20px;
    left: 34vw;
  }
  .paying{
    right: 4vw;
  }
  p.total {
    position: relative;
    left: 12vw;
  }
  p.price-finale {
    left: 40vw;
  }
  button.first{
    left: 28vw;
  }
  p.first{
    top: 25px;
  }
  /* contain two*/
  .contain-two {
    justify-content: center;
    left: 0px;
    right: 15px;
    /* width: 80vw; */
  }
  h3.new-seccion{
    font-size: 22px;
    right: 5px;
  }
  .publication{
    right: 25px;
  }
  p.desc{
    width: 10vw;
  }
  img.volante {
    width: 135px;
    height: 115px;
  }
  img.heart-without{
    left: 10vw;
  }
  article.product-seller-two {
    border: 1px solid #666666;
    border-radius: 15px;
    background-color: #ffff;
    margin: 5px;
    width: 17vw;
    display: grid;
    align-content: center;
    padding: 25px;
  }
  article.product-seller {
    border: 1px solid #666666;
    border-radius: 15px;
    background-color: #ffff;
    width: 17vw;
    margin: 5px;
    align-content: center;
    padding: 25px;
  }
  .contain-three{
    left: 80px;
  }
  h3.new-seccion-two{
    font-size: 22px;
  }
  p.promotion{
    font-size: 25px;
  }
  button.new-product{
    left: 0px;
    top: 80px;
    font-size: 12px;
    height: 7vw;
  }
  img.joystick{
    height: 45vh;
    top: 72px;
  }
  .front {
    border: 1px solid;
    top: 0px;
    width: 6vw;
    left: 0px;
    /* height: 42vh; */
    display: flex;
    margin: 0px 10px 5px 12px;
    position: relative;
    padding: 110px 12px;
    border-radius: 12px;
    background: rgb(229, 248, 253);
    will-change: transform;
    transform: translateX(20px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  img.flechaAzul {
    width: 55px;
    height: 10vh;
  }
.edge {
  position: absolute;
  top: 0;
  left: 6px;
  width: 6vw;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient( to left, rgb(25, 0, 82) 0%, rgb(0, 76, 163) 8%, rgb(49, 0, 163) 92%, rgb(25, 0, 82) 100% );
}
.shadow {
  position: absolute;
  top: 0;
  left: 5px;
  width: 6vw;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
  /** sections**/
  section.product{
    left: 5px;
  }
  article.product-info{
    width: 30vw;
    height: 15vw;
  }
  img.game-chair {
    width: 12vw;
    height: 28vh;
  }
  .col-4 {
    width: 15vw;
  }
  p.previous-col4{
    font-size: 12px;
    bottom: 0px
  }
  span.col-min{
    top: 15px;
  }
  p.price-col4{
    font-size: 25px;
  }
  p.off-col4{
    right: 10px;
    font-size: 12px;
  }
  p.cuotas{
    font-size: 12px;
    left:7px;
    top:10px;
  }
  p.description-col4{
    font-size: 15px;
    bottom: 80px;
  }
  section.anuncio {
    width: 25vw;
    position: relative;
    display: grid;
    margin: 0px 1px -5px -12px;
    border-radius: 12px;
    background-color: #dadfff;
}
  .col-8 {
    width: 82vw;
    padding: 15px;
  }
}
/* tablet */
@media (min-width: 790px) {
  .contain-one {
    display: block;
    padding: 10px 22px;
    }
  section.product-two {
    background-color: #fff;
    border-radius: 15px;
    display: grid;
  }
  article.product-seller-two {
    border: 1px solid #666666;
    border-radius: 15px;
    background-color: #ffff;
    margin: 5px;
    display: grid;
    align-content: center;
    padding: 25px;
  }
  img.flechaAzul {
    width: 30px;
  }
  img.heart-without {
    left: 12vw;
  }
  p.desc {
    width: 10vw;
    right: 25px;
  }
  .contain-two {
    justify-content: center;
    padding: 60px 0px 0px 0px;
    /* left: 12vw; */
    /* width: 76vw; */
  }
  article.product-seller {
    width: 19vw;
    padding: 25px;
  }
  article.product-seller-two {
 
    width: 19vw;
  }
  img.volante {
    width: 100px;
    height: 115px;
  }
  p.live{
    left: 120px;
  }
  p.off-col4 {
    bottom: 23px;
    right: -1vw;
    font-size: 12px;
  }
  p.price-col4 {
    font-size: 18px;
  }
  article.product-info{
    height: 18vw;
    margin: 0px 0px;
  }
  img.joystick {
    top: 50px;
  }
  p.name {
    position: relative;
    top: -15px;
    color: rgb(87, 77, 77);
    font-style: italic;
  }
  section.option{
    padding: 25px 5px;
  }
  ul.buttons-two{
    /* left: 0px; */
    right: 30px;
  }
  .front{
    height: 45vh;
    margin: 0px 0px 0px 0px;
  }
  .choices {
    right: 7vw;
  }
  select.option-live {
    width: 25px;
    left: 16vw;
  }
  .paying {
    right: 7vw;
  }
  button.first {
    left: 20vw;
  }
}
