* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #c6bebe;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #5483ed;
  width: 70%;
  align-items: center;
  /* padding: 10em 0; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.main-container {
  text-align: center;
  color: white;
  position: relative;
}

.titulos-linea {
  margin-top: 2em;
  margin-bottom: 7em;
  color: white;
}

.ball-container{
  margin-right: 0;
}

.bola-rosa {
  /* position: absolute; */
  width: 100px;
  top: -80px;
  left: 230px;
  z-index: 1;
}

.bola-verde {
  /* position: absolute; */
  width: 300px;
  top: -220px;
  left: 110px;
}

.numero-uno {
  /* position: absolute; */
  top: 180px;
  left: 110px;
  z-index: 1;
  width: 1.5em;
  margin-right: auto;
}

.numero-dos {
  /* position: absolute; */
  top: 840px;
  left: 110px;
  z-index: 1;
  width: 2.5em;
  margin-right: auto;
}

.numero-tres {
    /* position: absolute; */
    top: 1100px;
    left: 110px;
    z-index: 1;
    width: 2.5em;
    margin-right: auto;
}

.numero-cuatro {
    /* position: absolute; */
    top: 1610px;
    left: 110px;
    z-index: 1;
    width: 3em;
    margin-right: auto;
}

.numero-cinco {
    /* position: absolute; */
    top: 2070px;
    left: 110px;
    z-index: 1;
    width: 2.7em;
    margin-right: auto;
}

.numero-seis {
    /* position: absolute; */
    top: 2353px;
    left: 110px;
    z-index: 1;
    width: 2.7em;
    margin-right: auto;
}

.container-uno,
.container-dos,
.container-tres,
.container-cuatro,
.container-cinco,
.container-seis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(175, 208, 220, 0.44);
  width: 85%;
  margin: 3em auto;
  border-radius: 5em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-siete {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-button {
  text-align: center;
}

.login-button {
  margin-bottom: 20px;
  padding: 1em 2.5em;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #4dabcf;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 3em;
}

.login-button:hover {
  background-color: #89387b;
  box-shadow: 0px 15px 20px rgba(77, 171, 207, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.login-button:active {
  transform: translateY(-1px);
}

.login-button:hover {
  box-shadow: 0px 0px 10px #4dabcf;
}

.categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  flex-wrap: wrap;
  gap: 1em;
}

.img-contenedor {
  background-color: white;
  border-radius: 2em;
  min-width: 180px;
  height: 200px;
  flex-basis: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.categorias label {
  color: #747070;
  cursor: pointer;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}
[type=radio]:checked + img {
  /* outline: 2px solid black; */
  border: 3px solid #4dabcf;
  border-radius: 10px;
}

/* .img-contenedor input {
  display: none;
  cursor: pointer;
} */

.caja-producto {
  display: flex;
  background: linear-gradient(
    93.09deg,
    #ffffff 80.04%,
    rgba(175, 254, 225, 0.4) 91.82%
  );
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 8px #affee1;
  border-radius: 140px;
  height: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.caja-producto-descripcion {
  display: flex;
  background: linear-gradient(
    93.09deg,
    #ffffff 80.04%,
    rgba(175, 254, 225, 0.4) 91.82%
  );
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 8px #affee1;
  border-radius: 2em;
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  justify-content: center;
  align-items: flex-start;
}

.caja-producto-descripcion textarea {
  border: none;
  width: 60%;
  height: 80%;
  background-color: transparent;
  color: #747070;
  margin-top: 1em;
  text-align: left;
}

.caja-producto-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja-producto-precio-stock {
  display: flex;
  background: linear-gradient(
    93.09deg,
    #ffffff 80.04%,
    rgba(175, 254, 225, 0.4) 91.82%
  );
  box-shadow: 0px 4px 8px #affee1;
  border-radius: 140px;
  height: 50px;
  /* width: 70%; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: #747070;
  margin-bottom: 3em;
}

.caja-producto-precio-stock input {
  border: none;
  width: 60%;
  height: 80%;
  background-color: transparent;
  color: #747070;
  text-align: left;
  margin-left: 2em;
}

.caja-tick {
  margin-left: 35px;
  margin-right: 20px;
}

.caja-texto {
  background-color: transparent;
  color: #747070;
  font-weight: 300;
  font-size: 1em;
  width: 70%;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.selector {
  max-width: 4em;
}

.pointer {
  margin-left: 10px;
}

.modelo {
  display: flex;
  padding: 1em 0;
}

.pencil {
  width: 6em;
}

.bola-rosa-2{
    /* position: absolute; */
    top: 2900px;
    left: 100px;
}

.bola-verde-2{
    /* position: absolute; */
    top: 2875px;
    left: 300px;
}