*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 50vh;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategrey;
}

.register-form{
    background-color: #fff;
    /* width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    position: relative;
    top: 180px;
    padding: 10px 60px;
}